{% extends "index.html" %} 

{% block content %}
<h1>Alojamentos</h1>
<div class="row3">
	<div class="span"></div>
	<div class="span">
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="Gravar">
		</form>
	</div>
</div>
{% endblock %}

{% block footer %}
<br>
<br>
<br>
<div class="span2">
	<a href="../" class="btn btn-danger">Voltar</a>
</div>
<br>
<br>
<br>
<div class="span2">
	<a href="/accounts/signout" class="btn btn-danger">Logout</a>
</div>
{% endblock %}





