{% extends "index.html" %} 

{% block content %}
<h1>Entrar</h1>
<br>
<br>
<br>
<div class="row">
	<div class="row">
	<div class="span4 offset1">
		<p> Para aceder a esta Plataforma terá que criar uma conta em: </p>
		<a href="accounts/signup" class="btn btn-danger">Registar</a>
	</div>
	</div>	
	<br>
	<br>
	<br>
	<div class="row">
		<div class="span4 offset1">
			<p> Se já tem conta de utilizador, basta fazer Login: </p>
			<a href="accounts/signin" class="btn btn-danger">Login</a>
		</div>
	</div>	
	
</div>

{% endblock %}